<h1>Products-ENTIRE INVENTORY</h1>
<p> 

<% @products.each do |product| %>
	<h2><%= link_to product.name, product %></h2>
	<p>Product Descpription: <%= product.description %></p>
	<p>Price: <%= product.formatted_price %></p>
<% end %>

</p>

#this step is extreemly important. remember you are iterating over products 
#so that each product displays the name, decription, and price of the products